<% include header %>

<h1><a href="/">&larr; back to the Louvre</a></h1>
<h3>The Louvre by <a href="/">Tom Franck</a></h3>

<h2><span>Resource not found</span> :</h2>

<section>
<p>I am sorry but this resource has not been found</p>
</section>

<% include footer %>
