<footer>Ook deze app staat op Heroku:<br/> <a href="https://infinite-earth-68412.herokuapp.com/">https://infinite-earth-68412.herokuapp.com/</a><br/><br/>Probeer ook eens te zoeken op tags, bijvoorbeeld: louvre, bracelet,...<br/><br/>Onderaan bij elk artikel staat ook een categorie met werkende code via een ID in json bestand<br/><br/>Of gebruik de categorieeenfilter bovenaan de homepagina.<br/><br/>Je kan bij elk artikel ook op de periode en de uitvoerder klikken via een ID.<br/><br/>made by &copy; Tom Franck</footer>

  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
