<footer>Ook deze website staat op Heroku, bekijk het via volgende link: <br/> <a href="https://infinite-earth-68412.herokuapp.com/">https://infinite-earth-68412.herokuapp.com/</a><br/><br/>made by &copy; Tom Franck</footer>

  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
