<footer>Check out the online version at<br/> <a href="https://desolate-hamlet-44953.herokuapp.com/">https://desolate-hamlet-44953.herokuapp.com/</a><br/><br/>made by &copy; Tom Franck</footer>

  <script src="https://use.typekit.net/xif5hiw.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>
  <script src="/js/template.js"></script>
  </body>
</html>
