@import url('https://fonts.googleapis.com/css?family=Lato'); /* voor de titels */

body {
  font-family: 'helvetica';
  width: 90%;
  margin: 25px auto;
  line-height: 1.4em;
}

.topbalk {
  background: #19626c;
  width: 98%;
  color: dimgrey;
  padding: 1%;
  border: 1px solid #19626c;
}

.topbalk a {
  color:white;
  text-decoration: none;
  padding: 1px 5px 0px 5px;
  margin-left: 12%;
}

.topbalk a:hover {
  color: black;
  text-decoration: none;
  background-color: white;
  font-weight:bold;
}

.titelbalk {
  font-family: 'Lato';
  font-size: 75px;
  text-align: center;
  text-transform: uppercase;
  color: #2ecc71;
  margin-bottom:25px;
  margin-top:80px;
}

.titelbalk:hover {
  padding-right:3px;
  cursor:pointer;
  opacity: 0.8;
}

section {
  color:black;
}

nav {
  background-color: white;
  border: 1px solid #19626c;
  width: 98%;
  padding: 1%;
  text-align: center;
  word-spacing: 10px;
  font-family: 'Lato', sans-serif;
}

a {
  color: #3d3d3d;
  text-decoration: none;
}

a:hover {
  font-weight:bold;
}

.title {
  font-family: 'Lato', sans-serif;
  padding: 1%;
  margin-top: 1%;
  margin-left: 1%;
  margin-right:10%;
  position: absolute;
  text-transform: uppercase;
  text-align:center;
}

.title a {
  color:white;
  font-size: 20px;
  text-align:center;
}

.title2 {
  font-family: 'Lato', sans-serif;
  background-color: white;
  padding: 1%;
  margin-top: 25%;
  padding-left: 2%;
  position: absolute;
  text-transform: uppercase;
  color: #3d3d3d;
}

#categorieblok {
  color: black;
  border: 1px solid black;
  padding: 3px;
  text-transform: uppercase;
  background-color: white;
  font-weight: bolder;
  word-spacing: 2px;
}

.categoriebloktekst {
  font-size: 1em;
  font-weight: bolder;
  word-spacing: 2px;
}

.bannerheader {
  min-width: 100%;
}

.removefilters {
  text-decoration: none;
  margin-top: 0;
  word-spacing: 2px;
}

h1 {
  border: 1px solid black;
  width:30%;
  padding-left:4%;
}

section {
  margin-bottom: -2%;
}

img {
  max-width: 100%;
}

p {
  margin: 10px 0;
  color: #3d3d3d;
  font-weight: bolder;
}

h2 {
  margin: 25px 0;
  font-weight:bold;
  font-size: 20px;
  background-color: #19626c;
  color:white;
  padding:1%;
  line-height:30px;
  padding:1%;
  margin-bottom:10px;
}

h4 {
  background-color: #19626c;
  color:white;
  font-size:12px;
  padding-left:5px;
  padding:1%;
}

h4 a {
  background-color: #19626c;
  color:white;
  font-size:14px;
  padding-left:5px;
  font-weight:bold;
}

h5 {
  background-color: #19626c;
  color:white;
  font-size:12px;
  padding-left:10px;
  margin-bottom: 20px;
  margin-top: -10px;
  padding:1%;
}

h5 a {
  background-color: #19626c;
  color:white;
  font-size:12px;
  padding-left:10px;
  margin-bottom: 20px;
  margin-top: -10px;
  padding:1%;
  font-weight:bold;
}

nav a {
  display: inline-block;
  margin-right: 5px;
}

footer {
  margin-top:20px;
  text-align:center;
  font-weight:bold;
  border: 1px solid black;
  padding: 20px;
}

footer a {
  font-size: 12px;
}

.categorieenvakjes {
  border: 1px solid #19626c;
  font-size: 15px;
  padding:2px;
  line-height: 30px; /* zodat de tags niet allemaal op elkaar staan */
}

.auteursvakje {
  color:white;
  font-size: 11px;
  padding:7px;
  background-color:#19626c;
}

/* zoekbalk knopje */
input[type=submit] {
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #19626c;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  border: 2px solid #19626c;
  margin-bottom:20px;
}

input[type=submit]:hover {
  opacity: 0.7;
  text-decoration: none;
  cursor:pointer;
}

/* zoekbalk zelf */
input[type=text] {
  color: #19626c;
  font-size: 20px;
  background: white;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
  margin-bottom:20px;
  border: 2px solid #19626c;
  width:85%;
}


@media screen and (max-width: 1100px) {
  .topbalk a {
    margin-left: 9%;
  }

  input[type=text] {
  width:80%;
  }
}

@media screen and (max-width: 1000px) {
  .topbalk a {
    margin-left: 8%;
  }

  input[type=text] {
  width:75%;
  }
}

@media screen and (max-width: 800px) {
  .topbalk a {
    margin-left: 6%;
  }

  input[type=text] {
  width:70%;
  }
}

@media screen and (max-width: 700px) {
  .topbalk a {
    margin-left: 5%;
  }

  input[type=text] {
  width:70%;
  }
}

@media screen and (max-width: 600px) {
  a {
      font-size: .5em;
  }

  .topbalk a {
    margin-left: 10%;
  }

  input[type=text] {
  width:60%;
  }
}

.datumkleur {
  color: #19626c;
}

@media screen and (max-width: 480px) {
    a {
        font-size: .6em;
    }

    .topbalk a {
      color:white;
      text-decoration: none;
      padding: 1px 5px 0px 5px;
      margin-left: 6%;
    }

    .title {
      margin-top: 1%;
      padding-left: 1%;
      margin-left:-1%;
    }

    .title a {
      color:white;
      font-size: 10px;
    }

    .title2 {
      font-family: 'Lato', sans-serif;
      padding: 1%;
      margin-top: 25%;
      padding-left: 2%;
    }

    h2 {
      font-size: 25px;
    }

    #categorieblok {
      color: black;
      border: 1px solid black;
      padding: 3px;
      text-transform: uppercase;
      font-weight: bolder;
    }

    .categoriebloktekst {
      font-size: .6em;
      font-weight: bolder;
    }

    input[type=text] {
      width:55%;
    }
}
